p{
    background-color:blueviolet; color: white
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px; text-align: center; padding: 10px;
}

.le{
    background-color: aquamarine; color: red
}

.chan{
    background-color: lightblue; color: green
}

#brrr{
    background-color:rgb(0, 0, 0); color:pink
}

